html {
  background-color: #002B54;
  color: #fff;
  font-family: "Titillium Web", Sans-serif;
  text-align: center;
}

header {
  display: flex;
}

header h2{
  color: #00E6E6;
  width: 100%;
  font-size: 67px;
  margin: 0;
}

header h2 img {
  margin-right: 10px;
}